<h2>Search Books</h2>

<form action="/books" method="GET">
    <label for="searchBooks">Name</label>
    <input type="text" name="name" id="searchBooks" value="">
    <button type="submit">Search</button>
</form>